/*
*	@media (max-width: 1200px)
*/
@media (max-width: 1200px) {

	.woocommerce .shipping_calculator {
	    margin-right: auto;
	    margin-left: 0;
	}
	.welcome-buttons a {
		margin-right: auto!important;
		margin-left: 0!important
	}
	header .logo-info-text {
	    float: right;
	    margin-left: auto;
	    margin-right: 10px;
	}
	.homepage-latest-posts .isotope-item {
		margin-left: 15px;
		margin-right: 15px;
	}
	.homepage-latest-posts .isotope-item:first-child,
	.homepage-latest-posts .isotope-item:last-child {
		margin-left: 15px;
	}
}
@media (max-width: 1024px) {
	.header-menu .menu-top-menu-container {
		float: none;
	}
	.footer-sidebar > ul > li:first-child {
	    padding-left: auto;
	    padding-right: 15px;
	}
	.footer-sidebar > ul > li:last-child {
	    padding-right: auto;
	    padding-left: 15px;
	}
}
@media (max-width: 979px)  {
	.homepage-latest-posts .isotope-item {
		margin-left: 15px;
		margin-right: 15px;
	}
	footer .payment-icons {
	    text-align: right;
	}
	.footer-sidebar-2 > ul > li {
		padding-left: auto;
		padding-right: 10px;
	}
	#mega_main_menu > .menu_holder > .menu_inner > ul > li > .item_link:after {
	    right: auto;
	    left: -3px;
	}
}

/*
*	@media (max-width: 979px) and (min-width: 768px)
*/
@media (min-width: 768px) and (max-width: 979px)  {
	.blog-post .post-content {
	    margin-left: auto;
	    margin-right: 30px;
	}
}

/*
*	@media (max-width: 767px) - mobile menu
*/
@media (max-width: 767px)  {
	.homepage-latest-posts .isotope-item {
		margin-left: 15px;
		margin-right: 15px;
	}
	.main-left-menu-place {
		margin-left: 0!important;
		margin-right: 0!important;
		padding-left: 0!important;
	}
	.vc_col-sm-1, .vc_col-sm-2, .vc_col-sm-3, .vc_col-sm-4, .vc_col-sm-5, .vc_col-sm-6, .vc_col-sm-7, .vc_col-sm-8, .vc_col-sm-9, .vc_col-sm-10, .vc_col-sm-11, .vc_col-sm-12 {
		float: none;
	}
	#mega_main_menu {
		margin-left: 0!important;
		margin-right: auto!important;
	}
	.navbar-collapse {
	    padding-right: auto;
	    padding-left: 0;
	}
	.woocommerce ul.products li.product, 
	.woocommerce-page ul.products li.product {
	    margin-right: auto;
	    margin-left: 0;
	}
	.woocommerce .cart-collaterals .cart_totals {
		float: left;
	}
	.woocommerce .cart-collaterals .cross-sells {
		float: right;
	}
	.nav .sub-menu, 
	.nav .children {
		margin-left: auto;
		margin-right: 10px;
	}
	.nav .sub-menu li .sub-menu, 
	.nav .children li .children {
		right: auto;
		left: auto;
	}
	.loop-item-nav .span6 {
		float: right;
	}
	.blog-post .post-content {
	    margin-left: auto;
	    margin-right: 0;
	}
	footer .header-social {
		margin-left: auto;
		margin-right: 10px;
	}
	footer .copyright {
		margin-left: auto;
		margin-right: 10px;
	}
}

/*
*	@media (max-width: 568px)
*/
@media (max-width: 568px)  {
	.footer-social {
	    float: none;
	    margin: 0 auto;
	}
	.header-menu li a {
		width: 50%;
	}
	header .logo {
		float: none;
		margin: 10px 0;
	}
	header .col-md-6:nth-child(2) {
		margin: 10px auto 0;
	}
	.shopping-cart {
		float: none;
		margin: 0 auto 10px;
	}
	.search-bar #searchform {
		float: none;
	}
	.products-module .wpb_content_element .wpb_tabs_nav li {
		margin-right: auto;
		margin-left: 0;
	}
}

/*
*	@media (max-width: 480px)
*/
@media (max-width: 480px)  {
	#sidebar .widgettitle {
		margin-right: auto;
		margin-left: 0;
	}
}