
body {
	direction: rtl;
	unicode-bidi: embed;
}
a.btn i {
    margin-left: auto;
    margin-right: 50px;
}
.header-menu .fa {
    margin-right: auto;
    margin-left: 5px;
}
.header-menu .fa:nth-child(2) {
    margin-left: auto;
    margin-right: 10px;
}
.header-menu li a {
    float: right;
    padding-left: auto;
    padding-right: 24px;
}
.header-menu li:last-child a {
	padding-left: 0;
}
.header-menu .menu-top-menu-container {
    float: left;
}
header .logo {
    float: right;
}
header .logo-info-text {
    float: right;
    margin-left: auto;
    margin-right: 75px;
}
header .logo-info-text .fa {
    float: right;
    margin-right: auto;
	margin-left: 5px;
}
.shopping-cart {
    float: left;
    margin-left: auto;
    margin-right: 15px;
}
.shopping-cart .shopping-cart-title {
    float: left;
    padding: 10px 20px 6px 25px;
}
.shopping-cart .shopping-cart-count {
    right: auto;
  	left: -12px;
}
.shopping-cart .shopping-cart-content {
    right: auto;
    left: 0;
}
.shopping-cart .shopping-cart-product-image {
    float: right;
    margin-right: auto;
    margin-left: 20px;
}
.navbar .nav > li:nth-child(1) {
    border-right: none;
}
.navbar .nav > li {
    float: right;
}
.navbar .nav > li.menu-item-has-children > a:after {
    margin-left: auto;
    margin-right: 10px;
}
.nav .sub-menu,
.nav .children {
    text-align: right;
}
.nav .sub-menu li .sub-menu,
.nav .children li .children {
    right: auto;
    left: -100%;
}
.navbar .sub-menu li.menu-item-has-children > a:after,
.navbar .children li.menu-item-has-children > a:after  {
    margin-left: auto;
    margin-right: 5px;
    float: left;
}
.search-bar #searchform {
    float: left;
}
.search-bar #searchform #s {
    margin-right: auto;
}
.search-bar #searchform #searchsubmit {
    margin-right: auto;
}
header .yith-ajaxsearchform-container .select2-container .select2-choice {
    border-right: 0;
}
.homepage-mini-slider {
    padding-right: auto !important;
    padding-left: 0 !important;
}
.homepage-latest-posts .isotope-item {
    margin-left: 30px;
    margin-right: auto;
}
.homepage-latest-posts .isotope-item:last-child {
    margin-right: 0;
    margin-left: 30px;
}
.homepage-latest-posts .isotope-item:first-child {
	margin-left: 0;
}
.welcome-buttons a:first-child {
    margin-right: auto;
    margin-left: 25px;
}
#cboxClose {
    right: auto!important;
    left: 5px!important;
}
.post-social a {
    margin-left: auto;
    margin-right: 0;
    padding-right: auto;
    padding-left: 15px;
}
.post-social a:last-child {
    border-left: none;
}
.post-social i {
    margin-right: auto;
    margin-left: 5px;
}
.blog-post.blog-post-single .post-content {
    margin-left: auto;
    margin-right: 0;
}
.blog-post .post-info span i {
    margin-right: auto;
    margin-left: 5px;
}
.blog-post .post-info:after {
    clear: both;
    content: "x";
    font-size: 0;
}
.blog-post .post-info span {
	float: right;
}
.blog-post .post-info span:first-child {
    margin-left: auto;
    margin-right: 0;
}
.author-bio .author-description {
    padding-right: auto;
    padding-left: 15px;
}
.author-bio .author-image {
    padding-left: auto;
	padding-right: 10px;
}
.widget_facebook_right {
    right: auto;
    left: -237px;
}
.widget_facebook_right #facebook_icon {
    float: right;
    right: auto;
    left: 60px;
}
.widget_facebook_right .facebook_box {
    float: left;
}
.widget_twitter_right {
	right: auto;
    left: -237px;
}
.widget_twitter_right #twitter_icon {
    float: right;
    right: auto;
    left: 60px;
}
.widget_twitter_right .twitter_box {
    float: left;
}
.widget_custom_box_right {
    right: auto;
    left: -245px;
}
.widget_custom_box_right #custom_box_icon {
    float: right;
   	right: auto;
    left: 60px;
}
.widget_custom_box_right .custom_box {
    float: right;
}
.footer-social {
    margin-right: auto;
    margin-left: -10px;
    float: right;
}
.footer-sidebar-2 .widget.widget_twitter .intent-meta a {
    margin-right: auto;
    margin-left: 5px;
}
.payment-icons {
    text-align: left;
}
.payment-icons img {
    margin-left: auto;
    margin-right: 3px;
}
#top-link {
    right: auto;
    left: 40px;
    text-align: right;
}
#top-link:before {
    margin-left: auto;
    margin-right: 13px;
}
.navigation-paging .nav-previous a:before {
    margin-left: auto;
   	margin-right: 11px;
}
.navigation-paging .nav-next a:before {
    margin-left: auto;
    margin-right: 15px;
}
.navigation-paging .nav-previous a:before {
    content: "";
}
.navigation-paging .nav-next a:before {
    content: "";
}
.navigation-paging .nav-next a {
    float: left;
}
.footer-sidebar > ul > li {
    float: right;
}
.footer-sidebar-2 > ul > li {
    float: right;
    padding: 0 0 0 10px;
}
.woocommerce .group_table .price {
    margin-left: auto;
    margin-right: 13px;
}
.woocommerce .single_variation {
    margin-left: auto;
    margin-right: 48px;
}
.woocommerce ul.product_list_widget li img,
.woocommerce-page ul.product_list_widget li img {
    float: right;
    margin-right: 0;
    margin-left: 10px;
}
.woocommerce ul.product_list_widget .star-rating {
    right: 0;
    left: auto;
}
.woocommerce .woocommerce-message,
.woocommerce .woocommerce-error,
.woocommerce .woocommerce-info,
.woocommerce-page .woocommerce-message,
.woocommerce-page .woocommerce-error,
.woocommerce-page .woocommerce-info {
    padding-left: auto !important;
    padding-right: 20px !important;
}
#ship-to-different-address label {
    float: right;
}
#ship-to-different-address input {
    float: left;
    margin-left: auto;
    margin-right: 10px;
}
.sidebar .widget_product_categories .children .children a,
.sidebar .widget_pages ul li li a,
.sidebar .widget_nav_menu ul li li a {
    padding-left: auto;
    padding-right: 30px;
}
.sidebar .widget_pages ul li li li a,
.sidebar .widget_nav_menu ul li li li a {
	padding-left: auto;
    padding-right: 40px;
}
.woocommerce .woocommerce-breadcrumb {
    text-align: right;
}
.woocommerce a.add_to_cart_button {
    padding: 15px 20px 14px 10px;
}
.woocommerce .cart-collaterals .shipping_calculator,
.woocommerce-page .cart-collaterals .shipping_calculator {
    float: left;
    text-align: left;
}
.woocommerce .shipping_calculator {
    margin-right: auto;
    margin-left: 65px;
}
.col-md-9 .woocommerce .shipping_calculator {
    margin-right: auto;
    margin-left: 0;
}
.woocommerce .star-rating {
    left: auto;
    right: 19px;
}
.woocommerce .shop-product .onsale {
    left: auto;
    right: 20px;
}
.woocommerce .shop-product .summary .star-rating,
.woocommerce .shop-product .commentlist .star-rating {
    left: auto;
    right: auto;
    margin: 0.5em 0 0 4px !important;
}
.woocommerce .shop-product .summary .yith-wcwl-add-to-wishlist {
    float: right;
}
.woocommerce .product-item-box a.add_to_cart_button,
.woocommerce .product-item-box a.product_type_simple:not(.add_to_cart_button),
.woocommerce .product-item-box a.product_type_grouped {
    float: right;
    padding: 16px 15px 16px 10px;
}
.woocommerce .product-item-box a.add_to_cart_button:before,
.woocommerce .product-item-box a.product_type_simple:not(.add_to_cart_button):before,
.woocommerce .product-item-box a.product_type_grouped:before {
    padding-right: auto;
    padding-left: 10px;
}
.woocommerce .product-item-box .jckqvBtn {
   
}
.woocommerce .product-item-box .product-buttons .yith-wcwl-add-to-wishlist,
.woocommerce .shop-product .summary .yith-wcwl-add-to-wishlist {
    float: right;
}
.woocommerce .product-item-box .product-buttons .yith-wcwl-wishlistexistsbrowse a,
.woocommerce .product-item-box .product-buttons .yith-wcwl-wishlistaddedbrowse a,
.woocommerce .shop-product .summary .yith-wcwl-wishlistexistsbrowse a,
.woocommerce .shop-product .summary .yith-wcwl-wishlistaddedbrowse a {
    float: right;
    background-position: right center;
}
.woocommerce .shop-product .summary .yith-wcwl-wishlistaddedbrowse a:before,
.woocommerce .shop-product .summary .yith-wcwl-wishlistexistsbrowse a:before {
    margin-right: auto;
    margin-left: 10px;
}
.woocommerce .product-item-box .product-buttons .yith-wcwl-add-button a,
.woocommerce .shop-product .summary .yith-wcwl-add-button a {
    background-position: right center;
}
.woocommerce .shop-product .summary .yith-wcwl-add-button a:before {
    margin-right: auto;
    margin-left: 10px;
}
.woocommerce .product-item-box .product-buttons .compare-button {
    float: right;
}
.woocommerce .product-item-box .product-buttons .compare-button a {

    background-position: right center;
}
.woocommerce .shop-product .summary .compare.button:before {
    margin-right: auto;
    margin-left: 10px;
}
.woocommerce .shop-product .summary .cart button:before {
    margin-right: auto;
    margin-left: 10px;
}
.woocommerce .shop-product .summary .reset_variations {
    margin-left: auto;
    margin-right: 10px;
}
.woocommerce #content div.product form.cart,
.woocommerce div.product form.cart,
.woocommerce-page #content div.product form.cart,
.woocommerce-page div.product form.cart {
    float: right;
}
.woocommerce #content div.product form.cart div.quantity,
.woocommerce div.product form.cart div.quantity,
.woocommerce-page #content div.product form.cart div.quantity,
.woocommerce-page div.product form.cart div.quantity {
    margin-right: auto;
    margin-left: 10px;
}
.woocommerce .quantity .minus {
    float: right;
    right: auto;
   	left: auto;
}
.woocommerce .quantity .plus {
    float: left;
    left: auto;
    right: auto;
}
.woocommerce .single_variation .price {
    margin-left: auto;
    margin-right: 45px;
}
.woocommerce .shop-product .woocommerce-tabs ol.commentlist {
    padding-left: auto;
    padding-right: 0;
}
.woocommerce ul.products li.product .onsale,
.woocommerce-page ul.products li.product .onsale,
.woocommerce span.onsale,
.woocommerce-page span.onsale {
    margin-right: auto;
	margin-left: 10px;
	left: 0;
}
.woocommerce ul.products li.product .out-of-stock-badge, 
.woocommerce-page ul.products li.product .out-of-stock-badge {
    margin-left: auto;
 	margin-right: 10px;
 	right: 0;
}
.woocommerce span.onsale,
.woocommerce-page span.onsale {
    left: auto;
    right: 460px;
}
.woocommerce .shop-content .images .thumbnails {
    margin-left: auto;
    margin-right: 0;
}
.woocommerce div.product .woocommerce-tabs ul.tabs {
    padding-left: auto;
    padding-right: 0;
}
.woocommerce ul.products li.product,
.woocommerce-page ul.products li.product {
    margin-right: auto;
    margin-left: 0;
}
.woocommerce ul.products li.product:nth-child(2n),
.woocommerce-page ul.products li.product:nth-child(2n) {
    float: right;
}
.woocommerce #content nav.woocommerce-pagination ul li,
.woocommerce nav.woocommerce-pagination ul li,
.woocommerce-page #content nav.woocommerce-pagination ul li,
.woocommerce-page nav.woocommerce-pagination ul li {
    margin-right: auto;
    margin-left: 3px;
}
.woocommerce a.button.added:before,
.woocommerce button.button.added:before,
.woocommerce input.button.added:before,
.woocommerce #respond input#submit.added:before,
.woocommerce #content input.button.added:before,
.woocommerce-page a.button.added:before,
.woocommerce-page button.button.added:before,
.woocommerce-page input.button.added:before,
.woocommerce-page #respond input#submit.added:before,
.woocommerce-page #content input.button.added:before {
    left: auto;
    right: 10px;
 
}
.page-item-title h1 {
    text-align: right;
}
.vc-carousel-control .icon-prev:before {
    content: '' !important;
}
.vc-carousel-control .icon-next:before {
    content: '' !important;
}
body .select2-container .select2-choice {
    padding: 5px 15px 5px 10px!important;
}
body .select2-results .select2-result-label {
    padding: 5px 15px 5px 10px;
}
body .select2-container .select2-choice .select2-arrow {
    text-align: right;
}
body .select2-container .select2-choice .select2-arrow:after {
    margin-left: auto;
    margin-right: 10px;
}
html[dir="rtl"] body .select2-container .select2-choice > .select2-chosen {
	margin-left: 36px;
}
html[dir="rtl"] body .select2-container .select2-choice .select2-arrow {
	border-right: none;
}
html[dir="rtl"] .select2-container .select2-choice {
    padding: 6px 10px 6px 15px!important;
}
html[dir="rtl"] .select2-results {
    margin: 0!important;
    padding: 0!important;
}
html[dir="rtl"] .wpml-currency .select2-container .select2-choice {
    padding: 0!important;
}
.tp-bullets.simplebullets.round .bullet {
    float: right;
    margin-left: 0;
    margin-right: 5px;
}
.tp-leftarrow.default {
    background: transparent url("../img/arrow-right-big-invert.png") no-Repeat center center;
    left: auto !important;
    right: 0 !important;
}
.tp-rightarrow.default {
    background: transparent url("../img/arrow-left-big-invert.png") no-Repeat center center;
    right: auto !important;
    left: 0!important;
}
.wpb_tabs .wpb_tabs_nav li {
	float: right;
}
.products-module .wpb_tabs .wpb_tabs_nav li {
    margin-right: auto;
    margin-left: 5px;
}
.container .flexslider .flex-direction-nav .flex-prev:before {
    margin-left: auto;
    margin-right: 17px;
}
.container .wpb_toggle,
.container #content h4.wpb_toggle {
    padding-left: auto;
    padding-right: 0;
}
.container .wpb_toggle:before,
.container #content h4.wpb_toggle:before {
	margin-left: 10px;
    margin-right: auto;
}
.autocomplete-suggestions .autocomplete-suggestion {
    text-align: right;
    padding-right: 10px;
}
#jckqv .button {
    text-align: right;
}
#jckqv .single_variation {
    margin-left: auto;
    margin-right: 0;
}
#jckqv .woocommerce-product-rating .star-rating {
    left: auto;
    right: auto;
}
.comment-list .children {
    margin-left: auto;
    margin-right: 20px;
}
.comment-author {
    float: right;
}
.comment-metadata {
    padding-left: auto;
    padding-right: 100px;
}
.comment-meta .reply {
    float: left;
    margin-right: auto;
    margin-left: 20px;
}
.widget_tag_cloud .tagcloud,
.widget_product_tag_cloud .tagcloud {
    text-align: right;
}
.widget_tag_cloud .tagcloud a,
.widget_product_tag_cloud .tagcloud a {
    margin-right: auto;
    margin-left: 5px;
}
img.alignleft {
    float: right;
}
.alignleft {
    float: right;
}
img.alignright {
    float: left;
}
.alignright {
    float: left;
}
body .owl-theme .owl-controls .owl-buttons div.owl-prev {
    background-image: url("../img/nav-next-invert.png");
    left: auto;
    right: 16px;
}
body .owl-theme .owl-controls .owl-buttons div.owl-next {
    background-image: url("../img/nav-prev-invert.png");
    right: auto;
    left: 16px;
}
body .owl-carousel .owl-item {
	float: left;
}
body .owl-carousel * {
	direction: ltr;
}
body .owl-carousel .product-item-box * {
	direction: rtl;
}
.main-left-menu-place {
	padding-left: 15px!important;
    padding-right: 0!important;
}
/* VC overrides */
.vc_col-sm-1, .vc_col-sm-2, .vc_col-sm-3, .vc_col-sm-4, .vc_col-sm-5, .vc_col-sm-6, .vc_col-sm-7, .vc_col-sm-8, .vc_col-sm-9, .vc_col-sm-10, .vc_col-sm-11, .vc_col-sm-12 {
	float: right;
}
/* WooCommerce overrides */
.woocommerce #content nav.woocommerce-pagination ul li, .woocommerce nav.woocommerce-pagination ul li, .woocommerce-page #content nav.woocommerce-pagination ul li, .woocommerce-page nav.woocommerce-pagination ul li {
	float: right;
}
.woocommerce ul.products li.product, .woocommerce-page ul.products li.product {
	float: right;
}
.woocommerce .woocommerce-ordering, .woocommerce-page .woocommerce-ordering {
	float: left;
}
.woocommerce .woocommerce-result-count, .woocommerce-page .woocommerce-result-count {
	float: right;
}
.woocommerce #content div.product div.images, .woocommerce div.product div.images, .woocommerce-page #content div.product div.images, .woocommerce-page div.product div.images {
	float: right;
}
.woocommerce #content div.product div.summary, .woocommerce div.product div.summary, .woocommerce-page #content div.product div.summary, .woocommerce-page div.product div.summary {
	float: left;
}
.woocommerce #content div.product form.cart div.quantity, .woocommerce div.product form.cart div.quantity, .woocommerce-page #content div.product form.cart div.quantity, .woocommerce-page div.product form.cart div.quantity {
	float: right;
}
.woocommerce #content .quantity input.qty, .woocommerce .quantity input.qty, .woocommerce-page #content .quantity input.qty, .woocommerce-page .quantity input.qty {
	float: right;
}
.woocommerce .cart-collaterals .cart_totals, .woocommerce-page .cart-collaterals .cart_totals {
	float: left;
	text-align: left;
}
.woocommerce .cart-collaterals .cross-sells, .woocommerce-page .cart-collaterals .cross-sells {
	float: right;
}
.woocommerce ul#shipping_method li, .woocommerce-page ul#shipping_method li {
	padding-left: 0px;
}
.woocommerce .col2-set .col-1, .woocommerce-page .col2-set .col-1 {
	float: right;
}
.woocommerce .col2-set .col-2, .woocommerce-page .col2-set .col-2 {
	float: left;
}
.chosen-container-single .chosen-single div {
    left: 0;
    right: auto;
}
.chosen-container .chosen-drop {
	left: 9999px;
}
.woocommerce-checkout .form-row .chosen-container-single .chosen-single div b {
	background-position: 5px 3px!important;
}
.woocommerce table.shop_table, .woocommerce-page table.shop_table {
	text-align: right;
}
.woocommerce #payment ul.payment_methods li, .woocommerce-page #payment ul.payment_methods li {
	text-align: right;
}
.woocommerce #payment div.payment_box:after, .woocommerce-page #payment div.payment_box:after {
	right: 0;
	left: auto;
}
.woocommerce #payment .payment_method_paypal .about_paypal, .woocommerce-page #payment .payment_method_paypal .about_paypal {
	float: left;
}
.woocommerce #payment #place_order, .woocommerce-page #payment #place_order {
	float: left;
}
.woocommerce #content table.cart td.actions .coupon, .woocommerce table.cart td.actions .coupon, .woocommerce-page #content table.cart td.actions .coupon, .woocommerce-page table.cart td.actions .coupon {
	float: right;
}
.woocommerce .cart .button, .woocommerce .cart input.button, .woocommerce-page .cart .button, .woocommerce-page .cart input.button {
	float: left;
}
.woocommerce .cart .checkout-button {
	margin-left: 2px;
}
html[dir="rtl"] .woocommerce ul.products li.product .button {    
    margin-top: 0!important;
} 
.lost_reset_password > .form-row-first {
    float: right!important;
}
.lost_reset_password > .form-row-last {
    float: left!important;
}
.order-status {
    text-align: right!important;
}
.product-name {
    text-align: right!important;
}
/* QuickView overrides */
#jckqv_images_wrap {
	float: right;
	margin: -40px -40px -30px 0;
}
#jckqv_summary {
	float: left;
	text-align: right;
}
#jckqv .quantity {
	float: right;
}
#jckqv .button {
	float: right;
}
#jckqv .quantity .qty {
	margin-left: 10px;
	margin-right: 0;
}
/* WMPL Overrides */
.wpml-lang #lang_sel {
    float: left;
    margin-left: 0;
    margin-right: 20px;
}
.wpml-lang #lang_sel a, 
.wpml-lang #lang_sel a:visited {
    padding-right: 10px; 
    padding-left: 0;
}
.wpml-lang #lang_sel > ul > li > a {
    padding-right: 20px;
}
.wpml-currency .wcml_currency_switcher {
    float: left;
    margin-left: 0;
    margin-right: 10px;
}
.wpml-lang #lang_sel a.lang_sel_sel:after {
    margin-right: 10px;
}
/* Sales countdown RTL */
html[dir="rtl"] .counter-block {
    float: right;
}
html[dir="rtl"] .ob_categories .counter-block {
    margin-left: 0;
}
.woocommerce .shop-product .ob_warpper.ob_product_detal .counter-block:last-child {
    border-right: 1px solid #f57277;
}
.woocommerce .shop-product .ob_warpper.ob_product_detal .counter-block:first-child {
    border-right: none;
}
.woocommerce ul.products li.product .product-item-box .ob_warpper.ob_categories .counter-block:last-child {
    border-right: 1px solid #f57277;
}
.woocommerce ul.products li.product .product-item-box .ob_warpper.ob_categories .counter-block:first-child {
    border-right: none;
}
/* Cloud Zoom */
#cloud-zoom-big {
    right: 418px!important;
    left: auto!important;
}